.path {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #28233e25;
  border-radius: 8px;
  background-color: #b4b4b825;
  width: 60%; 
  margin: 0 auto 10px;
}

.path-content {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
}

.path-description {   
  flex: 1;
  margin-right: 10px; 
  text-align: left; 
}

.path-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.path-image {
  max-width: 100px;
  margin-right: 20px;
}
.shop-button {
  margin-top: 200px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #0056b3;
}

.shop-button:active {
  background-color: #004085;
}